.widget{
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: #577c659c 0px 2px 17px 1px;

}
.titulo{
    color: gray;
}
.value{
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}